
/*
fixes navbar blocking contents of top page
*/



body{
    padding-top: 100px;
    font-family: Lato;
}

#banner_logo{
  display:block;
  width: 150px;
}

.nav-item{
  margin-left: 60px;
}

.navbar-light .navbar-nav .nav-link{
  color: black;
  font-size: 18px;
}

.navbar-light .navbar-nav .nav-link:hover{
  color: blue;
}

.main-text {
  position: absolute;
  top: 50px;
  width: 96.66666666666666%;
  color: white;
}


#Home{
    /* background-repeat: no-repeat;
    background-image: url("https://wwwassets.rand.org/content/rand/about/locations/san-francisco/office/_jcr_content/par/herotitle.aspectfit.0x0.jpg/x1495302287458.jpg.pagespeed.ic.-3A48iDzR2.jpg"); */
    background-color: #E6E6FA;
}

.slide_image{
	height: 430px;
  width: 100%;
  display:block;
	margin-left:auto;
	margin-right:auto;
}

#home_caption{

  margin: auto;
  margin-top: 25px;
  width: 600px;
  color: blue;
}

#awards{
  display:inline-block;
  margin-top: 10px;
}

.award_image{
  margin-left: 20px;
}

#join_div{
  margin-top: 10px;
}

#join_link:link{
    color:white;
}

#join_link:visited{
    color:white;
}

#join_button{
    display:block;
    margin-left:auto;
    margin-right:auto;
    cursor: pointer;
    width: 100px;
}



/*
static footer for logos
*/

.footer{
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: center;
}

#sponsor_logos{
  display: inline-block;
}

/* .page_part{
    border: solid black 1px;
} */
